{% extends '::base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/carousel.css') }}">
{% endblock %}

{% block body %}

    <!-- Header with separating line on the bottom -->
    <div class="page-header text-center">
        <h2>Nav Appaiya <br><small>&lt; a Webdeveloper & TechGeek /&gt;</small></h2>
    </div>

    <!-- Carousel with the programming quotes -->
    <div class="row">
        <section id="carousel">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="carousel slide" id="fade-quote-carousel" data-ride="carousel" data-interval="3000">
                            <div class="carousel-inner">
                                <div class="active item text-center">
                                    <h1><small>{{ quote }}</small></h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- Small introduction, link to about -->
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3 text-center">
            <h2 class="">
                About me
            </h2>
            <p >My full name is Navarajh Appaiya, but everyone calls me <strong>Nav</strong>.
                Born in Jaffna, Sri Lanka, but grew up in the Netherlands as a Dutch guy.
                Love to work on the backend of any application or website to make it better, faster, or more secure.
                Mainly working with PHP & Frameworks, but also like to get deep into other new languages as well.

            </p>
        </div>
    </div>

    <!-- Links and information about my Projects -->
    {#
        Note for projects to start with:
            1. Woocommerce Bundle for SF2
            2. USBSTIKJE Tweetbot with configuration for SF2
    #}
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <h2 class="text-center">
                Projects
            </h2>
            <p>
                Currently working on this and the projects page to show off my work. Hold on while I get my projects together!
            </p>
        </div>
    </div>

    <!-- Tweets from @navvvv -->


{% endblock %}
