{% extends '::base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1>Projects</h1>
            <p class="lead">Some of the things I have been working on</p>
        </div>
    </div>
    <hr/>
    <div class="row">
        <h1 class="text-center"> This page is currently under construction. Please visit again soon</h1>
    </div>

{% endblock %}
