{% extends '::base.html.twig' %}

{% block title %}Todo {% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1>Project: Todo</h1>
            <p class="lead"> I <3 Lists</p>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-lg-6">
            <form role="form" method="post">
                <div class="form-group">
                    <input type="text" id="todo_new" name="todo_new" class="form-control" placeholder="New todo.." />
                </div>
                <button type="submit" class="form-group btn btn-primary">Create!</button>
            </form>
        </div>
        <div class="col-lg-6">
            {% for todo in todos %}
                <div class="alert alert-info alert-dismissable">
                    <a href="#" class="btn btn-xs btn-primary pull-right">Done!</a>
                    {{ todo.createdAt|date }} : {{ todo.content }}
                </div>
            {% endfor %}


        </div>
    </div>
{% endblock %}
